<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<!-- 服务器 -->
		<property name="host" value="${mail.host}" />
		<!-- 端口号 -->
		<property name="port" value="${mail.port}" />
		<!-- 用户名 -->
		<property name="username" value="${mail.username}" />
		<!-- 密码 -->
		<property name="password" value="${mail.password}" />
		<!-- SMTP服务器验证 -->
		<property name="javaMailProperties">
			<props>
				<!-- 验证身份 -->
				<prop key="mail.smtp.auth">true</prop>
			</props>
		</property>
	</bean>
	<bean id="simpleMailMessage" class="org.springframework.mail.SimpleMailMessage">
		<!-- 发件人email -->
		<property name="from" value="${mail.username}" />
		<!-- 收件人email -->
		<property name="to" value="${mail.to}" />
		<!-- email主题(标题) -->
		<property name="subject" value="${mail.subject}" />
		<!-- email主题内容 -->
		<property name="text">
			<value>这是来自RECLO微商城的测试邮件</value>
		</property>
	</bean>
	<bean id="velocityEngine"
		class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
		<property name="velocityProperties">
			<props>
				<prop key="resource.loader">class</prop>
				<prop key="class.resource.loader.class">
					org.apache.velocity.runtime.resource.loader.ClasspathResourceLoader
				</prop>
				<prop key="velocimacro.library"></prop>
			</props>
		</property>
	</bean>
</beans>